# Dependencies
/node_modules

# Vite build output
/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local development config
.DS_Store
/coverage
.idea
.vscode/

# Environment variables
# JANGAN UNGGAH FILE INI KE REPOSITORI PUBLIK
.env
.env.local
.env.*.local